<div *ngIf="clientData" class="client-data-container">
  <div class="tasks-container">
    <p class="tasks-heading">Ваши заказы:</p>
    <div class="new-task-button-wrapper" *ngIf="canCreateNew">
      <a class="new-task-button" routerLink="/data-category">Заказать новую услугу</a>
    </div>
    <div *ngIf="clientData.tasks.length; else tasksIsEmpty">
      <div class="task-card" *ngFor="let task of clientData.tasks" [@fadeInOut]>
        <div class="task-info">
          <p class="task-description">Описание: {{ task.data.description }}</p>
          <p *ngIf="task.data.performer.data" class="task-performer">Исполнитель: {{ task.data.performer.data.name }}</p>
          <p class="task-subcategory">Подкатегория: {{ task.data.subcategory }}</p>
          <p class="task-term">Срок: {{ task.data.term }}</p>
          <button *ngIf="task.data.performer == '0'" class="show-candidates-btn" (click)="showCandidates(task.id)">Кто откликнулся</button>
          <div *ngIf="task.showCandidates">
            <p>Исполнители:</p>
            <div class="performers-container">
              <div class="performer-card" *ngFor="let candidate of task.candidates" (click)="respondToPerformer(candidate.performer, task.id)">
                <div class="performer-info">
                  <p>{{ task.performerInfo[candidate.performer]?.name || 'Имя неизвестно' }}</p>
                </div>
              </div>
            </div>
          </div>
          <div *ngIf="task.data.performer.id">
            <button class="goto-chat" (click)="openChat(task.id)">Перейти в чат</button>
          </div>
        </div>
      </div>
    </div>

    <ng-template #tasksIsEmpty>
      <div class="tasks-is-empty">
        У вас пока нет заказов
      </div>
    </ng-template>
  </div>
</div>

<div *ngIf="!clientData">
  <p>Загрузка...</p>
</div>
