<div class="header__wrapper">
  <header></header>
  <div class="cols__container">
    <div class="left__col" *ngIf="performerData">
      <div class="img__container">
        <img src="../../assets/pic/account.png" alt="Anna Smith" />
        <span></span>
      </div>
      <h2>{{ performerData.login }}</h2>
      <p>Астролог</p>
      <p>{{ performerData.name }}</p>
    </div>
    <div>
      <div>
        <ul class="tabs">
          <li class="tab" (click)="selectedComponent = 'tasks'">Задачи</li>
          <li class="tab" (click)="selectedComponent = 'active-task'">Активная задача</li>
        </ul>
      </div>
      <div class="tasks" *ngIf="selectedComponent === 'tasks'">
        <app-task *ngFor="let task of tasks" [task]="task"></app-task>
      </div>
      <div *ngIf="selectedComponent === 'active-task'">
        <app-active-task></app-active-task>
      </div>
    </div>
    
  </div>
</div>