<main>
  <header>
    <h1 id="title">Как вас представить клиентам?</h1>
  </header>
    <section>
      <form id="survey-form" (ngSubmit)="submitForm()">
        <div class="form-group">
          <label id="name-label">Логин</label>
          <input type="text" placeholder="Создайте логин" class="form-control" id="login" name="login" required [(ngModel)]="login" />
          <label id="name-label">Имя</label>
          <input type="text" placeholder="Напишите ваше имя" class="form-control" id="name" name="name" required [(ngModel)]="name" />
        </div>
        <div class="form-group">
          <!-- <label id="number-label">Соц. сеть для связи</label> -->
          <!-- <input type="link" placeholder="Вставьте ссылку на вашу соц. сеть" class="form-control" id="link" name="link" [(ngModel)]="link" /> -->
          <label id="number-label">Пароль</label>
          <input type="password" placeholder="Создайте пароль" class="form-control" id="password" name="password" [(ngModel)]="password" />
        </div>  
        <div class="form-group">
          <button type="submit" id="submit" class="submit">Далее</button>
        </div>
      </form>
    </section>
</main>
